<!DOCTYPE html>
<html>

<head>
    <title>upfast.tf</title>
    <!-- <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="upfast.tf - Community TF2 servers in minutes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" /> -->
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- google fonts below -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
    <!-- <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1352.0.min.js"></script> -->
    <script src="/js/main.js"></script>
</head>

<body>
    {{embed}}
</body>

</html>