{{template "partials/navbar" .}}

<h2>❓ Frequently Asked Questions</i></h2>

<div id="faq" class="content-area">
    <h4>Q. What is quickread?</h4>
    <p>Quickread is a simple web application to easily summarize PDF documents.</p>

    <h4>Q. Is quickread free?</h4>
    <p>Yes, quickread is currenly free while in development.</p>

    <hr>
    <h4>Icon License</h4>
    <p>Author: <a href="https://www.svgrepo.com/svg/513266/bank" target="_blank" rel="noopener">pixelbazaar</a></p>
    <p>License: <a href="https://www.svgrepo.com/page/licensing/#CC%20Attribution"> CC Attribution License</a>. No changes were made.</p>

</div>

{{template "partials/footer" .}}