<!-- {{template "partials/header" .}} -->
{{template "partials/navbar" .}}

<!-- <h1>{{.Title}}</h1> -->

<div id="div-upload-doc" class="content-area">
    <p>Import a PDF document. <span class="small-text">(Max file size 15MB)</span></p>
    <form id='form-upload-doc' action="/upload" method="post" enctype="multipart/form-data">
        <label id="label-upload-doc" for="input-upload-doc">Browse File</label>
        <input id="input-upload-doc" name="input-upload-doc" type="file" onchange="displayFileName()">&nbsp;&nbsp;
        <button id="button-upload-doc" type="submit">Upload</button>&nbsp;&nbsp;
        <p id="upload-result-status" style="display: inline;"></p>
        <span id="upload-result-status-error" class="small-text" style="display: inline;"></span>
    </form>
    <p id="upload-doc-filename" class="small-text"></p>
</div>

<div id="div-doc-pages-selection" class="content-area" style="display: none;">
    <hr>
    <p>Select which part of the document to use.</p>
    
</div>

<div id="div-summary-response">
    <p id="summary-response"></p>
</div>

<script src="/js/upload.js"></script>

{{template "partials/footer" .}}