{{template "partials/navbar" .}}

<div class="flexcontainer content-area">
    <div id="welcome-text">
        <div style="display: inline-block; vertical-align: middle;">
            <img src="img/closed-book.svg" alt="closed boook icon" width="27px" height="27px"
                style="display: inline; vertical-align: middle;">
            <h2 style="display: inline; vertical-align: middle;">&nbsp;Welcome to quick<i>read!</i></h2>
        </div>
        <ul>
            <li>
                <strong>Upload & Summarize </strong>PDF documents
            </li>
            <li>
                Visit the <a href="/summarize">Summarize</a> tab to get started
            </li>
            <!-- <li>
                <strong>Listen </strong>to articels and documents
            </li> -->
            <!-- <li>
                <strong>Speed read </strong>the Pdfs
            </li> -->
            <!-- <li>
                <strong>No signup or payment</strong> required
            </li> -->
        </ul>
    </div>
    <!-- <div id="stats" style="display: none;">
        <h3>Stats</h3>
        <ul>
            <li>Pages Summarized:</li>
            <li>Word Summarized:</li>
            <li>Estimated time saved: </li>
        </ul>
    </div> -->
</div>
<hr>
<div style="display: flex; justify-content: center; margin-top: 1rem;">
    <div class="content-area demo-gif-class">
        <h2>Demo</h2>
        <img id="demo-gif" src="img/summary-demo.gif" alt="demo showing a pdf being summarized">
    </div>
</div>

<!-- <script src="/js/index.js" async></script> -->
{{template "partials/footer" .}}