{{template "partials/navbar" .}}

<h1>{{.Title}}</h1>

<!-- <h3>Listen to articles, PDFs, or pasted text!</h3> -->

<!-- <div id="div-paste-text" class="content-area">
    <h4>Listen to pasted text</h4>
    <form id="form-paste-text" class="" action="/paste" method="post">
        <textarea id="textarea-paste-text" name="textarea-paste-text" placeholder="Paste text here..."></textarea>
        <p class="small-text"></p>
        <button id="button-paste-text" type="submit">Listen</button>
    </form>
</div> -->



{{template "partials/footer" .}}