<!-- {{template "partials/header" .}} -->
{{template "partials/navbar" .}}

<!-- <h1>{{.Title}}</h1> -->

<div id="div-upload-doc" class="content-area">
    <p>Step 1: PDF document. <span class="small-text">(Max file size 15MB)</span></p>
    <form id='form-upload-doc' class="content-area" action="/upload" method="post"
        enctype="multipart/form-data">
        <label id="label-upload-doc" for="input-upload-doc">Browse File</label>
        <input id="input-upload-doc" name="input-upload-doc" type="file"
            onchange="displayFileName()">&nbsp;&nbsp;
        <button id="button-upload-doc" type="submit">Upload</button>&nbsp;&nbsp;
        <p id="upload-result-status" style="display: inline;"></p>
        <span id="upload-result-status-error" class="small-text" style="display: inline;"></span>
    </form>
    <p id="upload-doc-filename" class="small-text"></p>
    <!-- <p id="upload-doc-pages">Pages: </p> -->
</div>
<div id="div-summary-response">

</div>






<!-- <div id="div-paste-text" class="content-area">
    <h4>Summarize pasted text</h4>
    <form id="form-paste-text" class="" action="/paste" method="post">
        <textarea id="textarea-paste-text" name="textarea-paste-text" placeholder="Paste text here..."></textarea>
        <p class="small-text"></p>
        <button id="button-paste-text" type="submit">Listen</button>
    </form>
</div> -->

<script src="/js/summarize.js" async></script>


{{template "partials/footer" .}}