{{template "partials/navbar" .}}

<div class="content-area" style="display: inline-block; vertical-align: middle;">
    <img src="img/file.svg" alt="file icon" width="27px" height="27px" style="display: inline; vertical-align: middle;">
    <h2 style="display: inline; vertical-align: middle;">&nbsp;Summarize a PDF</h2>
</div>

<div id="document" class="content-area summary-block">
    <p>Select a PDF file, then click Summarize! </p>
    <div id="div-upload-doc">
        <form id='form-upload-doc' class="content-area" method="post" enctype="multipart/form-data">
            <label id="label-upload-doc" for="input-upload-doc">Browse Files</label>
            <input id="input-upload-doc" name="input-upload-doc" type="file" accept=".pdf">&nbsp;&nbsp;
            <button id="button-upload-doc" class="action-button" type="submit" disabled="true">Summarize</button>&nbsp;&nbsp;
            <span id="upload-doc-filename" class="small-text" style="display: inline;"></span>
        </form>
        <!-- <div style="background-color: #44a9b74f">
            <p>Please note: Summarizing is free while in development. Please don't abuse it!</p>
        </div> -->
        </p>
    </div>
</div>

<div id="summary-response" class="content-area summary-block" style="display: none;">
    <p class="small-text" onclick="goToSummaryUploadPage()">← <span id="back-to-summarize">Back</span></p>
    <p style="display: inline;"><strong>Summary for: </strong><span id="file-summary-name-response"></span></p>
    <div id="summary-spinner" class="spin"></div>
    <p id="summary-response-text"></p>
</div>

<!-- <div id="div-paste-text" class="content-area">
    <h4>Summarize pasted text</h4>
    <form id="form-paste-text" class="" action="/paste" method="post">
        <textarea id="textarea-paste-text" name="textarea-paste-text" placeholder="Paste text here..."></textarea>
        <p class="small-text"></p>
        <button id="button-paste-text" type="submit">Listen</button>
    </form>
</div> -->

<script src="/js/summarize.js" async></script>


{{template "partials/footer" .}}
