/* FOOTER */
div.footer p {
  color: #bababa;
  font-size: 9pt;
  line-height: 1.3em;
}

div.footer p a {
  color: #bababa;
}

div.footer p a:visited {
  color: #bababa;
}

a {
  color: #9eb6dd;
}

/* a:visited {
  color: #995bd7;
} */
a:hover {
  background-color: rgba(81, 91, 112, 0.175);
}

div#heading {
  display: flex;
  margin-top: 18px;
}

div#logo {
  margin-right: 20px;
}

div#title h3 {
  margin-top: -5px;
  margin-left: 2px;
  font-weight: 200;
}

body {
  background-color: #1a1b1e; /* #374151; */
  color: #DEDEDE;
  line-height: 1.4em;
  width: 55%;
  min-width: 750px;
  margin: 15px auto;
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Play", sans-serif;
  /* min-height: 500px; */
}

div.flexcontainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start; 
}

div.flexitem {
  /* width: 48%; */
  /* width: fit-content; */
  margin: 0px 20px;

}

div#welcome-text {
  /* flex-basis: auto; */

  flex-basis: 45%;
} 

div#banner {
  text-align: center;
  background-color: #DEDEDE;
  color: #374151;
  font-weight: bold;
  width: 100%;
  margin: 0px;
}

input[type="file"] {
  display: none;
}

#label-upload-doc {
  border: 1px solid #ccc;
  display: inline-block;
  /* padding: 6px 12px; */
  /* height: 24px; */
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 6px;
  cursor: pointer;
}

#label-upload-doc:hover {
  background-color: #2d2e33;
}

#button-upload-doc, #button-paste-text {
  border: 1px solid #228b22;
  background-color: #228b22;
  display: inline-block;
  /* padding: 6px 12px; */
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 6px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

#button-upload-doc:hover,
#button-paste-text:hover {
  background-color: #0ea00e; 
}

.content-area {
  padding-left: 15px;
  padding-right: 15px;
}

.small-text {
  /* color: #bababa; */
  font-size: 0.8rem;
  line-height: 1.3em;
}

textarea {
  width: 66%;
  height: 55px;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #23272a;
  /* font-family: Arial, sans-serif; */
  font-size: 13px;
  border-radius: 6px;
  color: #DEDEDE;
}

textarea::placeholder {
  color: #999;
}